{% extends 'base.html' %}
{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>HOME :)</h1>
<br>
  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the 13's Blog! Here we'll be talking about anythong and everything.
                Basics, lifestyle, food, sports, and pretty much anything you want to
                share.</p>
            <p>Go visit us at my Instagram profile website <a href="https://www.instagram.com/myrptl/">myrptl</a> to check out more cool stuff about me. Haha! ;)</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
      </div>
    </div>
  </main>
{% endblock %}